@import "tailwindcss";

@theme {
  --color-bg: #020617;
  --color-surface: #0f172a;
  --color-surface-soft: #1e293b;
  --color-border: #1e293b;

  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-soft: #dbeafe;
  --color-primary-muted: #93c5fd;

  --color-accent: #8b5cf6;
  --color-accent-soft: #ede9fe;
  --color-accent-muted: #c4b5fd;

  --color-danger: #ef4444;
  --color-danger-soft: #450a0a;
  --color-danger-muted: #fca5a5;

  --color-success: #16a34a;
  --color-success-soft: #052e16;
  --color-success-muted: #86efac;

  --color-text: #ffffff;
  --color-muted: #94a3b8;
  --color-muted-soft: #64748b;
}
